@page "/customer"
@namespace BlazorApp_DotNet6.Areas.Customer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutCustomer";
}

<h3>CUSTOMER AREA _Host.cshtml</h3>

<component type="typeof(AppCustomer)" render-mode="Server" />